<app-top-bar mode="home"></app-top-bar>

<div class="startup-container">
  <div class="left-panel">
    <div class="actions">
      <button mat-button type="button">
        <mat-icon>folder_open</mat-icon> Open
      </button>
    </div>
  </div>

  <div class="right-panel">
    <div class="search-bar">
      <input type="text" placeholder="Search projects...">
    </div>

    <mat-list>
      <h3 mat-subheader>Recent Projects</h3>
      <mat-list-item *ngFor="let project of projects$ | async" (click)="openProject(project)" class="project-item">
        <mat-icon matListItemIcon>description</mat-icon>
        <div matListItemTitle>{{ project.name }}</div>
        <div matListItemLine>{{ project.date | date }}</div>
        <button mat-icon-button type="button" class="delete-btn" (click)="deleteProject($event, project.id)" matListItemMeta>
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>

      <div *ngIf="(projects$ | async)?.length === 0" class="empty-state">
        <p>No projects found. Create a new one to get started.</p>
        <button mat-raised-button type="button" color="primary" (click)="createNewProject()">Create New Project</button>
      </div>
    </mat-list>
  </div>
</div>
